/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/cd-create-profile.1
/cd-fix-profile.1
/colord.conf.1
/colormgr.1
/manpage.links
/manpage.log
/manpage.refs
/so_locations
/tags
