/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/.tx
/ABOUT-NLS
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/client/Makefile.in
/colord-*.tar.*
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/contrib/Makefile.in
/contrib/colord-sane/Makefile.in
/contrib/session-helper/Makefile.in
/data/Makefile.in
/data/figures/Makefile.in
/data/profiles/Makefile.in
/data/tests/Makefile.in
/data/ti1/Makefile.in
/depcomp
/doc/Makefile.in
/doc/api/Makefile.in
/doc/api/dbus/Makefile.in
/etc/Makefile.in
/examples/Makefile.in
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/lib/Makefile.in
/lib/colord/Makefile.in
/lib/colorhug/Makefile.in
/lib/dtp94/Makefile.in
/lib/huey/Makefile.in
/lib/munki/Makefile.in
/libtool
/ltmain.sh
/man/Makefile.in
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/POTFILES
/po/colord.pot
/po/stamp-it
/policy/Makefile.in
/rules/Makefile.in
/so_locations
/src/Makefile.in
/src/plugins/Makefile.in
/src/sensors/Makefile.in
/stamp-h1
/tags
/test-driver
/xmldocs.make
