/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/libcolord_sensor_argyll.la
/libcolord_sensor_colorhug.la
/libcolord_sensor_dtp94.la
/libcolord_sensor_dummy.la
/libcolord_sensor_huey.la
/so_locations
/tags
