/*.bak
/*.lo
/*.log
/*.o
/*.orig
/*.rej
/*.tab.c
/*.trs
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/Colord-1.0.gir
/Colord-1.0.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/cd-self-test
/cd-version.h
/colord.pc
/libcolord.la
/libcolordprivate.la
/so_locations
/tags
