/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/colord-*.txt
/colord-decl-list.txt
/colord-decl.txt
/colord.types
/html
/org.freedesktop.ColorManager.ref.xml
/so_locations
/tags
/tmpl
/tmpl/*.bak
/tmpl/colord-unused.sgml
/version.xml
/xml
