/*.bak
/*.lo
/*.log
/*.o
/*.orig
/*.rej
/*.tab.c
/*.trs
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ColorHug-1.0.gir
/ColorHug-1.0.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ch-self-test
/ch-version.h
/colorhug.pc
/libcolorhug.la
/so_locations
/tags
