/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/colord-session
/org.freedesktop.ColorHelper.gschema.valid
/org.freedesktop.ColorHelper.gschema.xml
/org.freedesktop.ColorHelper.service
/so_locations
/tags
