/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/org.freedesktop.ColorManager.Device.ref.xml
/org.freedesktop.ColorManager.Profile.ref.xml
/org.freedesktop.ColorManager.Sensor.ref.xml
/org.freedesktop.ColorManager.ref.xml
/so_locations
/tags
