/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/AdobeRGB1998.icc
/AdobeRGB1998.xml
/AppleRGB.icc
/AppleRGB.xml
/BestRGB.icc
/BestRGB.xml
/BetaRGB.icc
/BetaRGB.xml
/Bluish.icc
/Bluish.xml
/BruceRGB.icc
/BruceRGB.xml
/CIE-RGB.icc
/CIE-RGB.xml
/ColorMatchRGB.icc
/ColorMatchRGB.xml
/Crayons.icc
/Crayons.xml
/DonRGB4.icc
/DonRGB4.xml
/ECI-RGBv1.icc
/ECI-RGBv1.xml
/ECI-RGBv2.icc
/ECI-RGBv2.xml
/EktaSpacePS5.icc
/EktaSpacePS5.xml
/FOGRA27L_coated.xml
/FOGRA28L_webcoated.xml
/FOGRA29L_uncoated.xml
/FOGRA30L_uncoated_yellowish.xml
/FOGRA39L_coated.xml
/FOGRA40L_SC_paper.xml
/FOGRA45L_lwc.xml
/FOGRA47L_uncoated.xml
/GPATH
/GRACoL_TR006_coated.xml
/GRTAGS
/GSYMS
/GTAGS
/Gamma5000K.icc
/Gamma5000K.xml
/Gamma5500K.icc
/Gamma5500K.xml
/Gamma6500K.icc
/Gamma6500K.xml
/ID
/IFRA26S_2004_newsprint.xml
/Makefile
/Makefile.in
/NTSC-RGB.icc
/NTSC-RGB.xml
/PAL-RGB.icc
/PAL-RGB.xml
/ProPhotoRGB.icc
/ProPhotoRGB.xml
/SMPTE-C-RGB.icc
/SMPTE-C-RGB.xml
/SNAP_TR002_newsprint.xml
/SWOP_TR003_coated_3.xml
/SWOP_TR005_coated_5.xml
/SwappedRedAndGreen.icc
/SwappedRedAndGreen.xml
/TAGS
/WideGamutRGB.icc
/WideGamutRGB.xml
/_libs
/sRGB.icc
/sRGB.xml
/so_locations
/tags
/x11-colors.icc
/x11-colors.xml
