/*.bak
/*.lo
/*.log
/*.o
/*.orig
/*.rej
/*.tab.c
/*.trs
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/cd-resources.c
/cd-resources.h
/cd-self-test
/colord
/so_locations
/tags
